body{
	font-family: Arial;
	margin:0;
	padding:20px;
	background-color: #f1f1f1;
}
*{
	box-sizing: border-box;
}
nav{
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  height: 100px;
  background-color: rgba(34, 40, 49, 0.9);
  align-items: center;

}
nav .links{
  float: right;
  padding: 0;
  margin: 0;
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav .links li{
  list-style: none;
}
nav .links a{
  display: block;
  padding: 1em;
  font-size: 22px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}
#nav-toggle {
  position: absolute;
  top: -100px;
}
nav .icon-burger{
  display: none;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}
nav .icon-burger .line{
  width: 30px;
  height: 5px;
  background-color: white;
  margin: 5px;
  border-radius: 3px;
  transition: all .3s ease-in-out;
}
@media  screen and (max-width: 768px) {
  nav .links{
    float: none;
    position: fixed;
    z-index: 9;
    left: 0;
    right: 0;
    top: 100px;
    bottom: 100%;
    width: auto;
    height: auto;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(34, 40, 49, 0.7);
    overflow: hidden;
    transition: all .5s ease-in-out;
  }
  nav .links a {
    font-size: 20px;
    padding: 0;
  }
  nav :checked ~ .links {
    bottom: 0;
  }
  nav .icon-burger {
    display: block;
  }
  nav .icon-burger {
    display: block;
  }
  nav :checked ~ .icon-burger .line:nth-child(1) {
    transform: translateY(10px) rotate(225deg);
  }
  nav :checked ~ .icon-burger .line:nth-child(3) {
    transform: translateY(-10px) rotate(-225deg);
  }
  nav :checked ~ .icon-burger .line:nth-child(2) {
    opacity: 0;
  }
}
.row:after{
	content: '';
	display: table;
	clear: both;
}
header{
	background-color: lightslategray;
	padding:30px;
}
header h1{
	text-align: center;
	font-size:60px;
	color:#F53961;
	margin:1.5 0px;
}

h2{
	color:#000000;
margin:1.5 0px;
}
.left-column{
float: left;
width: 75%;
}

.right-column{
width: 25%;
float: right;
padding-left:20px;
}
.card{
	padding: 20px;
	background-color: #ffe3fe;
	margin-top:20px;
}

.card img{
	width: 100%;
}


.right-column .card img{
	margin-bottom: 10px;
}


footer{
	background-color: #dddddd;
	padding: 20px;
	text-align: center;
	margin-top: 20px;
}

/*responsive */

@media(max-width:800px){
	.left-column,.right-column{
    width: 100%;
    padding: 0px;
	}
}
